#aboutus {
    .container {
        .h-0 {
            height: 0px !important;
        }

        .h-200 {
            height: 200px !important;
        }

        .rotate-90 {
            transform: rotate(90deg) !important;
        }

        .rotate-0 {
            transform: rotate(0deg) !important;
        }

        .ts-5 {
            transition: all 0.5s ease-in-out !important;
        }

        .pixel {
            width: 5px !important;
            height: 5px !important;
            border: 0px solid transparent !important;
            border-radius: 50% !important;
        }
    }
}
