#asaloyi {
    .card {
        .hover-text {
            transition: all 0.8s ease-in-out !important;
            // bottom: -20%;
            left: 0;
            right: 0;
            top: 77%;
            background-image: linear-gradient(0deg, #fff 67.04%, rgba(255, 255, 255, 0.38) 108.62%);

            .text {
                transition: all 0.8s ease-in-out !important;
            }
        }

        &:hover .hover-text {
            transition: all 0.8s ease-in-out !important;
            top: 0;
            bottom: 0;

            .text {
                transition: all 0.8s ease-in-out !important;
                margin-top: 76px !important;
                text-align: center;
                transition: text-align 0.8s !important;

                h5 {
                    font-size: 22px !important;
                }

                button {
                    width: 123px !important;
                    height: 36px !important;
                }
            }
        }
    }

    @media (max-width: 575px) {
        .card {
            img {
                width: 306px !important;
                height: 225px !important;
            }
        }
    }

    @media (min-width: 576px) and (max-width: 767px) {
        .card {
            img {
                width: 254px !important;
                height: 187px !important;
            }
        }
    }

    @media (min-width: 576px) and (max-width: 991px) {
        .card {
            .hover-text {
                top: 67%;
            }
        }
    }
}
