.footer{
    padding: 0;
    .footer-body{
        --bs-gutter-x: 0;
        padding: 30px 150px;
        width: 100%;
        background-color: rgba(178, 247, 247, 0.562);
        @media screen and (max-width: 427px){
            padding: 30px 100px;
        }
        @media screen and (max-width: 342px){
            padding: 30px 50px;
        }
        @media screen and (max-width: 242px){
            padding: 30px 10px;
        }
        @media screen and (max-width: 767px){
            text-align: center;
        }
        .first{
            h6{
                @media screen and (max-width: 405px){
                    text-align: center;
                }
            }
            button{
                border: solid 1.5px orange;
                background-color: white;
                font-size: 15px ;
                font-weight: 500;
                padding: 10px;
                border-radius: 9px;
                -webkit-border-radius: 9px;
                -moz-border-radius: 9px;
                -ms-border-radius: 9px;
                -o-border-radius: 9px;
                @media screen and (max-width: 475px){
                    font-size: 12px;
                }
            }
        }
        .second{
            .color{
                color:deeppink;
            }
        }
    }
    .auto{
        --bs-gutter-x: 0;
        padding: 20px 220px;
        width: 100%;
        position: absolute;
        font-size: 14px;
        @media screen and (max-width: 439px){
            padding: 0;
        }
    }
}