.navbar{
    display: flex;
    position: sticky;
    margin: 0 auto;
    box-shadow:  0px 5px 15px rgb(207, 207, 207);
    
    .logo{
        width: 25%;
    }
    .links{
       
       .xizmatlar{
          .d-flex{
            position: absolute;
            width: 100%;
            left: -100%;
            display: flex;
            z-index: 2312;
            background-color: #fff;
            box-shadow: 0 10px 18px rgb(197, 193, 193);
            transition: all .2s linear;
            &.show{
                left: 0;
                right: 0;
            }
          }
           h6{
               margin-top: 10px;
               font-size: 15px;
               margin-left: 40px;
           }
           .qism1{
               .div{
                   display: flex;
                   div{
                     
                       margin-left: 60px;
                   }
               }
           }
           .line{
               width: 2px;
               height: 180px;
               background-color: #A9A9A9;
               margin-top: 80px;
               margin-left: 40px;
           }
           .qism2{
               right: 0;
               width: 60%;
               margin-left: 40px;
               margin-top: 100px;
               button{
                   background-color: #FFFFFF;
                   color: black;
                   border: none;
                   margin-left: 450px;
                   margin-top: 70px;
                   padding-left: 15px;
                   padding-right: 15px;
                   padding-top: 5px;
                   padding-bottom: 5px;
                   border-radius: 10px;
                   box-shadow: 0px 2px 10px yellow;
               }
           }
       }
    }
    .language{
        display: flex;
        font-size: 15px;
        margin-top: 30px;
        margin-left: 115px;
        img{
            width: 15px;
            margin-right: 5px;
            margin-bottom: 15px;
            padding: 0;
            margin-top: 0;
        }
        p{
           margin-top: 20px; 
           margin-right: 5px;
        }
    }
    .buttons{
        .button1{
            padding-top: 15px;
            padding-bottom: 15px;
            padding-right: 45px;
            padding-left: 10px;
            background-color: #FF416C;
            border: none;
            border-radius: 10px;
            font-size: 15px;
            color: #FFFFFF;
        }
        .button2{
            border: none;
            border-radius: 10px;
            font-size: 15px;
            background-color: #FFFFFF;
            color: #FF416C;
            box-shadow: 0 0 5px rgb(219, 219, 219);
            padding: 15px 9px;
            margin-left: 10px;
            margin-bottom: 5px;
        }
    }
}